#title {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
#year {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

#circuit {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.dot {
  fill: white;
}

.axis .tick {
  stroke: white;
}

.domain,
.axis .tick line {
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  stroke: none;
  fill: white;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}
.land {
  fill: #222;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
circle {
  fill: yellow;
}
.geopath {
  fill: green;
}
.tooltip{ background-color:rgba(68,136,187,0.5);;
  margin: 10px;
  height: 50px;
  width: 150px;
  padding-left: 10px;
  padding-top: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.wordle{
  width: 50%;
}

.map{
  transform: scale(0.8,0.8);
}
body {
  background: #383838;
}
